# Porta da API
PORT=8080

# URL de conexão PostgreSQL usada pelo Prisma
# Ajuste usuário, senha, host, porta e database conforme seu ambiente.
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/techrent_db

# Configuração JWT
JWT_SECRET=segredo_muito_dificil
JWT_EXPIRES_IN=9h

# Supabase Configuration
SUPABASE_URL=https://dmlshwvpsoqpptjmplfq.supabase.co
SUPABASE_KEY=sb_publishable_J8uOG_z3u9VcYhpingUgBw_SihCdLve
